@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  margin: 0;
  background: radial-gradient(white 50%, hsl(239, 100%, 75%));
}

form > * {
  font-size: 0.8em;
  margin: 5px 0;
}

button,
a {
  cursor: pointer;
}

a {
  all: unset;
}

textarea {
  font-size: 1em;
  width: 425px;
  max-width: 425px;
}

.App {
  min-height: calc(100vh - 48px);
  text-align: center;
  font-size: 1.1em;
  font-family: Montserrat, sans-serif;
}

.flex-ctr-v {
  display: flex;
  min-height: inherit;
  flex-direction: column;
  justify-content: center;
}

.flex-ctr-h {
  display: flex;
  width: inherit;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 1.4em;
  padding: 12px;
  border: 1px solid hsl(239, 100%, 25%);
  max-width: 450px;
  width: fit-content;
  border-radius: 24px;
}

.btn-prime {
  font-size: 14px;
  border: 1px solid blue;
  background-color: blue;
  color: white;
}

.click-text {
  font-size: 0.9em;
  color: darkblue;
  cursor: pointer;
}

.click-text:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

@media screen and (max-width: 600px) {
  body {
    background: radial-gradient(white 65%, hsl(239, 100%, 85%));
  }

  .card {
    margin-top: 20px;
    max-width: 80vw;
  }

  .card > * > * {
    max-width: 80vw;
  }
  textarea {
    max-width: 270px;
  }
}
