html,
body {
  margin: 0 auto;
  padding: 0 auto;
}

.App {
  background-color: hsl(215, 80%, 45%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
